@if (TempData["Success"] != null)
{
    <div class="green">
        <p><strong style="color:red">Success:</strong><b style=" color:green"> @TempData["Success"].ToString()</b></p>
    </div>
}
Last known downloaded order PurchaseDate: <b>@ViewBag.LastKnownOrderPurchaseDate</b><br />
<br />
<br />
Last Run UK_Prohibition Process: <b>@ViewBag.UKProhibition</b><br />
<br />
@*OmnimarkAmazonService Status: <b>@ViewBag.ServiceStatus</b><br />*@
<div>
    
    @if (ViewBag.ServiceStatus == "Running")
    {
       <p><strong>OmnimarkAmazonService Status:</strong><b style=" color:green">@ViewBag.ServiceStatus</b></p>
    }
    else
    {
        <p><strong>OmnimarkAmazonService Status:</strong><b style=" color:red">@ViewBag.ServiceStatus</b></p>
    }
</div>
<br />

@Html.ActionLink("Check Services Status","ServiceStatus","Itemmanagement")
<table cellpadding='1' cellspacing='0' style="border:1px solid black;">
<tr><td colspan="2" align="center"><b>Last Inventory Update</b></td></tr>
@foreach(OmnimarkAmazon.Models.AmazonAccount item in ViewBag.AmazonAccounts) {
    <tr>
    <td>@item.Name</td>
    <td>@(item.LastInventoryUpdate != null ? (((DateTime)item.LastInventoryUpdate).ToString("M/d/yyyy HH:mm:ss")) : "")</td>
    </tr>
}
</table>

<input type="button" onclick="location='/Home/RunTool/UpdateInventory?ru=/';" value="Update All Inventory" />
<input type="button" onclick="location='/Home/RunTool/UpdateNonUpdatedInventory?ru=/';" value="Update Non-Updated Inventory" />
<br />
<input type="button" onclick="location='/Home/RunTool/DeductInventoryFBA?ru=/';" value="Download FBA Shipments" />
<input type="button" onclick="location='/Home/RunTool/DeductInventoryMerchantFulfilled?ru=/';" value="Deduct Merchant Fulfilled from Inventory" />
<input type="button" onclick="location='/Home/RunTool/DeductInventoryEBay?ru=/';" value="Deduct eBay from Inventory" />
<br />
<input type="text" name="ShipmentID" id="ShipmentID" /> 
<select name="ShipmentAccount" id="ShipmentAccount">
@foreach(OmnimarkAmazon.Models.AmazonAccount item in ViewBag.AmazonAccounts) {
    <option value="@item.ID">@item.Name</option>
}
</select>
<input type="button" onclick="location='/Home/RunTool/DeductInventoryFBA?ru=/&parms=' + encodeURIComponent('ShipmentID=' + $('#ShipmentID').val() + '&ShipmentAccount=' + $('#ShipmentAccount').val());" value="Deduct FBA from Inventory (single)" />
<br />
<input type="button" onclick="location = '/Home/RunTool/GetSettlementData?ru=/';" value="Update Settlement Data" />
