
<h2>@ViewBag.Title</h2>


<ul>
    <li>@Html.ActionLink("Stale Inventory", "StaleInventory", "Reports")</li>
    <li>@Html.ActionLink("Buy Box Percentage Change", "BuyBoxChange", "Reports")</li>
    <li>@Html.ActionLink("Sales Change", "SalesChange", "Reports")</li>
    <li>@Html.ActionLink("Out-Priced", "OutPriced", "Reports")</li>
    <li>@Html.ActionLink("Special Price Sales", "SpecialPriceSales", "Reports")</li>
    <li>@Html.ActionLink("Profitability by ASIN", "Profitability", "Reports")</li>
    <li>@Html.ActionLink("Shipped Merchant Sales", "SOSInventoryExport", "AmazonInventory")</li>
    <li>@Html.ActionLink("Inventory Value", "InventoryValue", "Reports")</li>
    <li>@Html.ActionLink("Profitability by Order", "OrderProfitability", "Reports")</li>
</ul>   